.m-table{
    width: 100%;
    border-collapse: collapse;
    border-color:#BDBDBD;
}

.m-table tr{
    height: 36px;

}

.m-table th{
    background-color: #F5F5F5;
    border-right: 1px solid;
    border-collapse: collapse;
    border-color:#BDBDBD;
}

.m-table td{
    border-bottom: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
}

.m-table tr td,.m-table tr th{
    padding-left: 16px;
    padding-right: 10px;
}

.m-table .text-align-left{
    text-align: left;
}
.m-table .text-align-right{
    text-align: right;
}
.m-table .text-align-center{
    text-align: center;
}

.m-table tbody tr:hover{
    background-color: #CCE4FF;
    cursor: pointer;
}

.table-container {
    width: 100%;
    max-height: 396px; /* Chiều cao tối đa của bảng */
    overflow-y: auto; /* Kích hoạt cuộn dọc nếu nội dung vượt quá chiều cao */
    border: 1px solid #BDBDBD;
}

.m-table thead tr {
    position: sticky;
    top: 0;
}

.table-container::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn dọc */
}
.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của track */
}
.table-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 4px; /* Bo tròn các góc */
    border: 2px solid #f1f1f1; /* Viền quanh thanh cuộn */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu của thanh cuộn khi hover */
}